include ../module__top/module__top
include ../side-nav/side-nav
include ../module__blog-content/module__blog-content
include ../module__together/module__together

mixin page__blog(data)
  - var bemClass = 'page__blog'
  section.page__blog&attributes(attributes)
    .container

      +module__top()
      
      nav.side-nav&attributes(attributes)
        ul.menu.row.center.filter-options
          li.side-nav__link(data-filter='.all').active All
          li.side-nav__link(data-filter='.social') Social
          li.side-nav__link(data-filter='.ecomerce') Ecomerce
          li.side-nav__link(data-filter='.travel') Travel
          li.side-nav__link(data-filter='.other') Other

      +module__blog-content()

      +module__together()