.module__category
  padding 204px 0
  background: white
  position: relative
  background: image-url('01.png') no-repeat center #fff
  
  h2 
    font-size 24px 
    black()
    text-align: center
    z-index: 1
    position: relative
