mixin module__about-nava(data)
  - var bemClass = 'module__about-nava'
  section.module__about-nava&attributes(attributes)
    div(class=bemClass + '__content') 
      div(class=bemClass + '__heading') 
        span(class=bemClass + '__str').jsAnim.str_black WE'RE Navat soft
        h2.jsAnim.h2_black We live at the intersection of culture.
      div(class=bemClass + '__post').jsAnim 
        p We pride ourselves on our commitment to excellence, as well as our ability to deliver for our partners. Learn more about how our talented team of passionate designers, developers, and product  experts can build value for you We pride ourselves on our commitment to excellence, as well as our ability to deliver for  our partners. Learn more about how our talented
        span We pride ourselves on our commitment to excellence, as well as our ability to deliver for our partners. Learn more  abouthow our talented team.
        p We pride ourselves on our commitment to excellence, as well as our ability to deliver for our partners. Learn more about how our talented team of passionate designers, developers, and product experts can build value for you We pride ourselves on our commitment to excellence, as well as our ability to deliver for our partners. Learn more about how our talented.
        p Talented team of passionate designers, developers, and product experts can build value for you We pride ourselves on our commitment to excellence, as well as our ability to deliver for our partners. Learn more about how our talented.