.module__contact
  
  &__str 
  h2
    opacity: 1
  
  &__str-1
    font-size 30px 
    text-transform: uppercase
    black()
    color $dark
    
  &__str__row
    flex 1
    span 
      flex-basis 42%
    
  &__career
    padding-top 40px
    
  &__item
    padding 70px 100px
    cursor pointer
  
    &:nth-child(odd)
      background: #fafafa
    
    &:hover 
      background: $blue
      trs()
      span
        color white
        trs()
