include ../modules/injected/injected
include ../modules/page/page

include ../modules/head/head
include ../modules/header/header
include ../modules/footer/footer
include ../modules/page__about/page__about

//- include ../modules/sidebar/sidebar
include ../modules/page-title/page-title

- var pageId = 1


doctype html
html(lang=config.lang)

  head
    +head(head.home)

  +page()
    +inject('header')
      +header()

    +inject('page__about')
      +page__about()

    +inject('footer')
      +footer()


