.module__contact
  padding 100px
  background: #f1f1f1
  
  &__heading 
    text-align: center
    margin 0 0 90px 0
    
  h2 
    font-size 72px
    line-height 90px

  &__form 
    width 650px
    margin 0 auto
    
  &__required
    font-size 21px 
    black()
    color $dark
    text-transform: uppercase
    padding 60px 0
    

.form__area
  height 178px
  margin-top 45px
  
.button_black 
  display: block
  width 100%
  
.module__contact_white
  background: white
