.module__contact
  padding 100px
  background: #f1f1f1
  
  &__heading 
    text-align: center
    margin 0 0 90px 0
    
  h2 
    font-size 72px
    line-height 90px

  &__form 
    width 650px
    margin 0 auto
    
  &__str-1
    display: block
    
  &__required
    font-size 21px 
    black()
    color $dark
    text-transform: uppercase
    padding 60px 0
    

.form__area
  height 178px
  margin-top 45px
  
.button_black 
  display: block
  width 100%
  
.module__contact_white
  background: white
  padding 100px 0 0 0
  
.data-name 
  position: relative
  display block
  &:after
    content attr(data-name)
    position: absolute 
    right 0px 
    bottom 20px
    display block
    color $dark 
    font-size 11px
    opacity: 0px
    margin-bottom -10px
    transition ease-in-out .3s
    
.data-name.active 
  &:after 
    opacity 1
    transition ease-in-out .3s
    margin 0px
    
.data-text.active 
  &:after 
    bottom 20px
    
