.module__about-slider
  
  &__nav 
    height 110px
    max-width 680px
    margin 0 auto
    
  svg 
    color $dark
    opacity: 0.5
    height 28px
    &:hover 
      opacity 1
      
.slick-next-1
.slick-prev-1
  height 28px
  
.slick-next-1
  .icon
    transform rotateZ(180deg)
    
.current 
.total 
  font-size 24px 
  black()
  opacity 0.5
  color $dark
  +before('0')
    font-size 24px
  
.current 
  opacity 1
  +after('/')
    font-size 24px
    margin 0 17px
    opacity 0.5