mixin module__our-work(data)
  - var bemClass = 'module__our-work'
  section.module__our-work.jsHeight2.jsBg&attributes(attributes)
    div(class=bemClass + '__content') 
      div(class=bemClass + '__item') 
        span(class=bemClass + '__str').jsAnim Our work
        a(href="")
          h2.jsHover.jsAnim Some of our collaborations have beenfeatured on TechCrunch, Mashable, Recode
            span and Wired; incubated in YCombinatorand 300 Startups.