mixin module__about-technologies(data)
  - var bemClass = 'module__about-nava'
  section.module__about-nava&attributes(attributes)
    div(class=bemClass + '__content') 
      div(class=bemClass + '__heading') 
        span(class=bemClass + '__str').jsAnim.str_black Technology
        h2.jsAnim.h2_black Innovation and solution <br> based technology.
      div(class=bemClass + '__post').jsAnim 
        h3 Product development strategy
        p Product technical expertise / Systems development and architecture Internet technologies / AJAX Adobe AIR / Adobe Flex  / Apache HTTP Server / CrossBrowsers HTMLDTD/XSD / Flash Media Server / Google Web Toolkit / HTML/DHTML / Internet Server / API (ISAPI) / J2EE (EJB, JSP, JDBC и др.) / J2ME / JAX-WS / Java Applets / PHP Hypertext / Pre-processor / XML/XSL/XSLT XMLBeans / NET (ASP.NET, WinForms, ADO.NET).
        h3 Content management systems
        p Adobe AEM (frontend and backend development) / Joomla / Drupal / WordPress / Typo3 / VirtueMart / Alfresco
        h3 Programming languages
        p 4Test (Segue SilkTest) / AppleScript / C# / C/C++ / Java / MXML / PL/SQL / SQL / Visual Basic  / NET
        h3 Relational database management systems (RDBMS)
        p Apache Derby / DB2 / MS Visual FoxPro / Microsoft SQL Server MySQL / Oracle / Oracle Lite / Oracle Rdb / Sybase
        h3 Operating systems
        p LinuxMS Windows / Mac OS / Unix