mixin module__about-us(data)
  - var bemClass = 'module__about-us'
  section.module__about-us.jsHeight2.jsBg&attributes(attributes)
    div(class=bemClass + '__content') 
      div(class=bemClass + '__item') 
        span(class=bemClass + '__str').jsAnim About us
        a(href="")
          h2.jsHover.jsAnim Because those are the  things thatmakewaves, attention, and best:
        span(class=bemClass + '__str-2').jsAnim nternet of Things  /  Publishing Advertisment Retail and online sales Automotive  /  Insurance
        .row.center-c
          a(href="").button More about us