.header
  
  &__logo 
    color black 
    black()
    font-size 21px 
    text-transform: uppercase
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-name: fadeIn
    animation-delay: .3s
    
  &__row
    height 105px