header
  position: fixed
  width 100%
  z-index: 102
  background: #f7f7f7
  
  
.header
  
  &__logo 
    color black 
    black()
    font-size 21px 
    text-transform: uppercase
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-name: fadeIn
    animation-delay: .3s
    
  &__row
    height 105px
    
.trUp
  transform: translateY(-105px)
  trs()

.trDown
  transform: translateY(0px)
  trs()
  
.trDown-2
  transform: translateY(103px)
  trs()