.module__blog

  &__img 
    display: block 
    width 100%
    height auto
    
  &__item 
    background: $soft
    padding 90px 0 0 105px
    height 100%
    
  &__item_padding
    padding-bottom 0px
    
  &__item_absolute 
    position: absolute
    width  50% 
    right 0px 
    bottom 0px
    padding-bottom 0px
    height 50%
    
  &__item__content
    display flex 
    flex-direction column
    .row 
      height 50%
    
  &__date
  &__more 
    font-size 21px 
    black()
    color #838383
    text-transform: uppercase
    
  &__link 
    font-size 21px 
    max-width 238px
    black()
    color $dark
    text-transform: uppercase
    height: 107px;
    margin: 36px 0 58px 0;
    line-height 38px
    overflow: hidden;
    display: block
    
  &__more 
    position: relative
    +after('')
      left -160px
      top 50%
      height 2px 
      width 140px 
      background: $dark
      display block
      position absolute
      transform scale(0)
      trs()
    &:hover:after
      transform scale(1)
      trs()
    
  &__twitter 
    background: $blue
    padding: 82px 90px;
    height 50%
    
    p 
      color white 
      black()
      font-size 21px
      text-transform: uppercase
      line-height 38px
      margin: 42px 0 57px 0;
      height: 106px;
      overflow: hidden;
      
    a 
      color #a5b0c3
      black()
      font-size 21px 
      text-transform: uppercase
      
  &__all
    padding 39px 0
    a
      text-transform: uppercase
      font-size 21px 
      black()
      color $grey
      &:hover 
        color $dark
   
.col__25_dark
  overflow: hidden
  .module__blog__more:after 
    background white
    
.icon_twitter
  color white
  width 30px
  height 25px
  
.item__wrapper
  transform: translateY(60px);
  opacity: 0;
  trs()
  
.module__blog__single.custom .item__wrapper
  opacity 1 
  trs()
  transform: translateY(0px);
  

  