$s-width = 22px

.module__social
  
  a 
    position: relative 
    top 2px
  
  &__row 
    width 300px
    margin 0 auto
    height 107px
  
  .icon
    color $dark
    opacity: 0.6
    trs()
  
    &:hover 
      opacity 1 
      trs()
      
    &_facebook 
      height $s-width 
      width $s-width
      
    &_google 
      height $s-width 
      width $s-width
      
    &_linkedin 
      height $s-width
      width $s-width
      
    &_twitter 
      height $s-width
      width $s-width
