
.module__social
  
  a 
    position: relative 
    top 2px
    display: block
  
  &__row 
    width 300px
    margin 0 auto
    height 107px
  

  svg
    width 22px
    height 22px
    
  .icon
  svg
    display: block
    color $grey
  
    &:hover 
      color $dark
      
      
    &_facebook 
      height 22px 
      width 22px
      
    &_google 
      height 22px 
      width 22px
      
    &_linkedin 
      height 22px
      width 22px
      
    &_twitter 
      height 22px
      width 22px
