body 
  font-family $body-font
  -webkit-font-smoothing: antialiased;
  background-color $soft
  
h2 
  black()
  text-transform: uppercase
  display: block
  
.jsLoaded
  
  .module__top-slider__str
    +after('')
      width 55px
      trs()
      
main 
  padding-top 105px
  
.flex__twitter
  display flex 
  flex-direction column 
  .module__blog__twitter
    flex 1
    
.form__wrapper
  max-height 1220px