body 
  font-family $body-font
  -webkit-font-smoothing: antialiased;
  background-color $soft
  
h2 
  black()
  text-transform: uppercase
  
.jsLoaded
  
  .module__top-slider__str
    +after('')
      width 55px
      trs()