// Import plugins
zozo(false)
sprites(false)
royal-slider(false)
animate-css(true)
bxslider(false)
slick(true)
customScrollbar(true)
simpleLightBox(false)
formstyler(false)
remodal(false)
lightslider(false)
lightgallery(false)


// Css custom components
customCheckbox(false)
paybuttons(false)
bannerLink(false)
charts(false)
pagination(false)
FAQcontainer(false)
responsiveSlide(false)
customScrolCss(false)
readCrumbs(false)
responsiveMenu(false)
responsiveIframe(false)


$IMG-PATH = '../images/background/'
// Now you can use the function image-url
// .element
//   background-image image-url('logo.png')

// And the font-url
$FONT-PATH = '../fonts/roboto/'
font-face('roboto-regular-webfont', 'roboto-regular-webfont', 'normal', 'normal')
font-face('roboto-medium-webfont', 'roboto-medium-webfont', 'normal', 'normal')
font-face('roboto-black-webfont', 'roboto-black-webfont', 'normal', 'normal')
font-face('roboto-bold-webfont', 'roboto-bold-webfont', 'normal', 'normal')
font-face('roboto-bolditalic-webfont', 'roboto-bolditalic-webfont', 'normal', 'normal')
font-face('roboto-thin-webfont', 'roboto-thin-webfont', 'normal', 'normal')
font-face('roboto-thinitalic-webfont', 'roboto-thinitalic-webfont', 'normal', 'normal')
font-face('roboto-light-webfont', 'roboto-light-webfont', 'normal', 'normal')
medium()
  font-family 'roboto-medium-webfont'
regular()
  font-family 'roboto-regular-webfont'
black()
  font-family 'roboto-black-webfont'
bold()
  font-family 'roboto-bold-webfont'
bold-italic()
  font-family 'roboto-bolditalic-webfont'
light()
  font-family 'roboto-light-webfont'
thin()
  font-family 'roboto-thin-webfont'
light-italic()
  font-family 'roboto-thinitalic-webfont'
  
// Bdoy font 
$body-font = 'roboto-regular-webfont'


// Container-width 
$container-width = 100%
$container-padding = 0 105px


// Link - var
$link-size = 14px
$link-color = black
$link-hover-color = $dark
$link-text-docoration = none
$link-text-docoration-hover = none


// Text - var
$text-size = 14px
$text-color = $dark
$text-padding = 18px
$text-line-height = 23px


// Span - var
$span-size = 14px
$span-color = $dark


// Heading - sive 
$h1 = 50px
$h2 = 72px
$h3 = 16px
$h4 = 24px
$h5 = 20px
$h6 = 14px
$h-color = $dark


// Col
$col-margin = 30px


// Label - input
$input-size = 21px
$input-color = #888888
$input-background = transparent
$input-border-radius = 0
$input-height = 70px
$input-margin = 30px 0 0 0 
$label-margin = 0 0 20px 0
$label-color = $dark 
$label-size = 21px
$input-padding = 10px 0px
$input-border-color = $border
$place-holder-default = #888888
input-border()
  border-bottom 2px solid #888
  &:focus 
    trs()
    border-color $dark
    color $dark


// Banner color link 
$banner-link-color = $dark


// Buttons
$button-radius = 0px
$button-height = 71px
$button-padding = 0 45px
$button-size = 21px
$button-text-transform = uppercase
$button-color = white
$button-border = white
$button-background = transparent
$button-hover-color = $dark
$button-border-hover-color = $button-hover
$button-background-hover-color = $button-hover
// Button xl
$button-xl-width = auto
$button-xl-height = 66px
$button-xl-font-size = 16px
$button-xl-font-weight = normal 
// Button xs
$button-xs-width = auto
$button-xs-height = 23px
$button-xs-font-size = 14px
$button-xs-font-weight = bold 


// Box sizing
*
  box-sizing border-box


// Wrapper
.container2
  width 1040px 
  margin 0 auto 
  position: relative
.container 
  width $container-width
  margin 0 auto
  padding $container-padding
  position: relative
.container-xs
  width 1040px 
  margin 0 auto 
  position relative
.container-m
  width 1267px
  margin 0 auto 
  position: relative
  
  
// Fonts
roboto = 'Roboto', sans-serif;
ptsans = 'Pt sans', sans-serif;
cormorant = 'Cormorant', serif;
$placeholderFont = 'Lato-Light';


// Native - Colors
$brown         =  #e0914c
$dark          =  #1c1d1d
$yellow        =  #f5aa00
$blue          =  #002f6d
$aqua          =  #61dfdd
$dark-aqua     =  #025958
$soft-aqua     =  #518fa6
$orange        =  #f17300
$green         =  #408c09
$purple        =  purple 
$pink          =  pink
$red           =  #be000d
$milk          =  #e5e1d0
$gold          =  #d09700
$soft          =  #f7f7f7
$grey          =  #8b8b8b
$grey2         =  #646669
$grey3         =  #6f6f6f


$border        =  #d1d1d1
$border-grey   =  #484848
$dash-border   =  #ececec


$hover         =  $gold
$button-hover  =  white


// Input colors - readonly - disabled - succes - error
$BGreadonly      =  #f9f8f6
$BGdisabled      =  #f9f8f6
$border-disabled =  #d1d1d1
$Dcolor          =  #9f9f9f
$readonly        =  $grey2
$disabled        =  $milk
$success         =  #4ac3c1
$error           =  #ed5565
$information     =  #427c92
$warning         =  #cdb933


// Color class
.white
  color white
.blue 
  color $blue
.red 
  color $red
.green 
  color $green
.yellow 
  color $yellow


// Js class
.jsHidden 
  display none
.jsVisible     
  display block
.jsContFlex.jsDisplayFlex
  display flex !important
.jsContFlex 
  display none !important
.jsTabDash
.jsTab
  cursor pointer
.jsCont
.jsContDash 
  display none
.jsCont.jsActive 
.jsContDash.jsActive 
  display block
.jsNone
  display none
.jsToggle.jsActive
  .jsFade
    display block
  

// Bx controls
.bx-Next
.bx-Prev
.slick-next
.slick-prev
  a 
    width 100%
    height 100% 


decor()
  text-decoration underline
  &:hover 
    text-decoration none
trs()
  transition ease-in-out .6s
trs-slow()
  transition ease-in-out .4s
hover()
  &:hover
    color green
    text-decoration: underline
static()
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
vam($top = 0px, $margin = 0, $position = relative, $display = inline-block, $vertical-align = middle)
  if $display
    display $display
  if $vertical-align
    vertical-align $vertical-align
  if $position
    position $position
  if $top 
    top $top
  if $margin 
    margin $margin
img()
  display block
img-width()
  max-width 100%
  width 100%
  height auto


// Input reset 
input[type='text']
textarea
select
  -webkit-appearance: none;
  border-radius $input-border-radius
  appearance none
input
textarea
  border-radius $input-border-radius
  margin 0px 
  border none
  font-family $placeholderFont
  background: $input-background
  padding $input-padding
  color $input-color
  font-size $input-size
  input-border()
select
  background: $input-background
  margin 0px 
  border none
  font-family $placeholderFont
  color $input-color
  padding $input-padding
  font-size $input-size
  input-border()
  

// Default input
.form__label
  color $label-color
  font-size $label-size
  margin $label-margin
.form__label
.form__area 
  display block
  width 100%
  black()
  text-transform: uppercase
.form__input
.form__select
  black()
  text-transform: uppercase
  display block
  width 100%
  height $input-height
  margin $input-margin
  input-border()
.form__area
  margin $input-margin
.dash__label
  color white
  font-size $label-size
  margin $label-margin
  display block
.dash__input
  display block
  width 100%
  height $input-height
  margin $input-margin
  border 1px solid border-grey
  background #232323
  color grey
  &:focus
    border-color white
    color white
.form__link 
  font-size 12px
  display: block 
  line-height 20px 
  margin 0px !important
// .form__tooltip
//   display: block
//   color grey
//   font-size 12px
//   line-height 20px
//   margin 8px 0 0 0
  
    
// Custom checkbox
customCheckbox(customCheckbox = false)
  if customCheckbox
    input[type='checkbox']
    input[type='radio']
      display none
    .label__checkbox
    .label__radio
      margin 8px 0 0 0 
      color black
      font-size 14px 
      display flex
      line-height 20px
      cursor pointer
    // Radio
    .label__radio i 
      width 19px
      height @width
      background: white
      border-radius (50%)
      display inline-block
      position relative
      cursor pointer
      border 1px solid white
      +after('')
        trs()
        width 5px 
        height @width
        background: black
        display: block
        margin 6px
        border-radius (50%)
        display: none
    // Checkbox
    .label__checkbox i 
      width 19px 
      height @width
      display inline-block
      position relative
      border-radius (0px)
      background: white
      border 1px solid $dash-border
      cursor pointer
      margin-right 10px
      +after('')
        margin-top 5px 
        margin-left 4px
        display none
    .label__checkbox  
      &:hover i 
        border-color $dark-aqua
        trs()
    // Custom checkbox
    .label__checkbox .input__checkbox:checked + i
      background: $soft-aqua
      border-color $soft-aqua
      +after()
        display: block
        trs()
     // Custom radio   
    .label__radio .input__radio:checked + i
      background: $yellow
      border-color black
      +after()
        display: block
        trs()
    

// Pay radio button
paybuttons(paybuttons = false)
  if paybuttons
    .payment__radio:checked + i 
      +before()
        background transparent
        trs()
    .pay-1
      +after('')
        // retinaSprite($sprite_picon_group)
        // sprite($sprite-picon-1)
        display block
    .pay-2
      +after('')
        // retinaSprite($sprite_picon_2_group)
        // sprite($sprite-picon-2)
        display block
    .pay-3
      +after('')
        // retinaSprite($sprite_picon_3_group)
        // sprite($sprite-picon-3)
        display block
    .pay-4
      +after('')
        // retinaSprite($sprite_picon_4_group)
        // sprite($sprite-picon-4)
        display block
    .pay-5
      +after('')
        // retinaSprite($sprite_picon_5_group)
        // sprite($sprite-picon-4)
        display block
    .payment__label
      margin 0 15px 0 0
      i 
        cursor pointer
        display block
        position relative
        +before('')
          trs()
          width 100%
          height 100%
          background: rgba(35, 35, 35, 0.68);
          position absolute 
          top 0px 
          left 0px
  

// Placeholder color
::-webkit-input-placeholder {color:$place-holder-default;}
::-moz-placeholder          {color:$place-holder-default;}/* Firefox 19+ */
:-moz-placeholder           {color:$place-holder-default;}/* Firefox 18- */
:-ms-input-placeholder      {color:$place-holder-default;}
  

// Buttons
button 
  border none 
  vertical-align middle
  cursor pointer 
  border none
  outline none
  background transparent
.button
  white-space: nowrap;
  background-color $button-background
  border-radius $button-radius
  height $button-height
  line-height $button-height - 2px
  padding $button-padding
  display inline-block
  font-size $button-size
  text-align: center
  cursor pointer
  color $button-color
  border 2px solid $button-border
  -webkit-appearance: none;
  text-decoration none
  text-transform $button-text-transform
  trs()
  bold()
  &:hover 
    trs()
    background-color $button-background-hover-color
    color $button-hover-color
    border-color $button-border-hover-color
.button_xl
  width $button-xl-width
  height $button-xl-height
  line-height $button-xl-height
  font-size $button-xl-font-size
  font-weight $button-xl-font-weight
.button_xs
  width $button-xs-width
  height $button-xs-height
  line-height $button-xs-height
  font-size $button-xs-font-size
  font-weight $button-xs-font-weight
.button_white
  // border-color white
  background-color transparent
  border-color white
.button_red 
  // border-color $red 
  background: $red
  // color $red
.button_green 
  // border-color $green
  background: $green
  // color $green
.button_blue 
  border-color $blue
  background: $blue
  color white
.button_black 
  background-color transparent
  border-color $dark
  color $dark
  &:hover 
    background-color $dark
    color white
.button_yellow 
  // border-color $yellow 
  background: $yellow 
  // color $yellow
.button_orange 
  // border-color $orange
  background: $orange
  // color $orange
.button_grey
  // border-color $grey 
  background: $grey 
  // color $dark
.button_transparent
  border 1px solid $grey
  background: transparent
  &:hover 
    border-color $brown
    background: $brown


// Bordered
bordered-center( $color = $grey, $size = 21px, $color2 = $dark)
  if $size
    font-size $size
  if $color2
    color $color2
  if $color 
    color $color
  position relative
  text-transform uppercase
  +before('')
    position absolute
    width 100%
    height 2px
    bottom -2px
    left 0
    visibility hidden
    -webkit-transform scaleX(0)
    transform scaleX(0)
    -webkit-transition all 0.3s ease-in-out 0s
    transition all 0.3s ease-in-out 0s
    if $color
      background $color
    display block
    margin 2px 0 0 0
    trs()
  &:hover 
    color $color2
    trs()
    &:before
      visibility: visible
      -webkit-transform scaleX(1)
      transform scaleX(1)
      background $color2
      trs()


// col 
for i in (1..100)
  .col__{i}
    width (i)%
    position: relative
.col_margin
  margin-right $col-margin
.col_margin-20
  margin-right 20px
.col_margin-30
  margin-right 30px
  

// Typography 
for i in (12..36)
  .str{i}
    font-size (i)px


// Alignment
.ta-center
  text-align: center
.ta-left
  text-align: left
.ta-right
  text-align: right


// H heading 
h1 
  font-size $h1
  color $h-color
h2 
  font-size $h2
  color $h-color
h3 
  font-size $h3
  color $h-color
h4 
  font-size $h4
  color $h-color
h5 
  font-size $h5
  color $h-color
h6 
  font-size $h6
  color $h-color
  

// Elements
menu 
  padding 0px
  margin 0px
span 
  display inline-block
  font-size $span-size
  color $span-color
a 
  text-decoration $link-text-docoration
  display inline-block
  font-size $link-size
  color $link-color
  &:hover 
    color $link-hover-color
    text-decoration $link-text-docoration-hover
h1, h2, h3, h4, h5, h6 
  font-weight normal
.text 
  font-size 16px
  line-height 23px   
p
  font-size $text-size
  color $text-color  
  padding-bottom $text-padding
  line-height $text-line-height

  

// Table reset 
th 
  font-weight normal
  

// Popup 

.popup.jsVisible 
  display block
  .popup__contanier
    display block
.popup
  display none
  position fixed 
  background: rgba(25, 25, 25, 0.9);
  top 0px
  left 0px 
  width 100% 
  height @width
  flex-direction column
  flex-wrap wrap
  z-index 200
.popup
  .str_black:after
    animation: none;
  overflow hidden
  h2 
    font-size 52px
    
  &__top
    padding 90px 205px
  &__contanier 
    background: white
    width 1065px
    margin 0px auto
    height 100%
    position: relative
    
  p 
    font-size 21px 
    light()
    line-height 40px
    padding 0 0 40px 0
    
  h3, h4, h5, h6
    black()
    text-transform: uppercase
    font-size 21px
    padding 20px 0 30px 0
    
  li 
    font-size 21px 
    medium()
    line-height 40px
    display flex 
    +before('')
      width 5px 
      height @width 
      background: $dark 
      display: inline-block
      position: relative
      top 18px
      margin-right 25px
      static()
      border-radius(50%)
    
  ul 
    margin 0 0 40px 0
    
  .module__contact__form
    width 100%
    background: $soft
    padding 80px 205px
    h2 
      opacity: 1
      margin-bottom 40px
      text-align: center
      

.popup__close
  position absolute
  right 10px 
  top @right
  width 80px
  height 70px
  display flex
  z-index 11
.icon_close 
  margin auto
  width 30px 
  height @width
  cursor pointer 
  opacity 1
  color black

    
.pop  
  position relative 
  height 100%
  
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar
.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar
  background: #5d5d5d
.mCSB_scrollTools .mCSB_draggerRail
  background-color: #9a9a9a;
.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar
.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar
  background-color: $blue; 
  background-color: hover;
.mCSB_scrollTools .mCSB_draggerRail
.mCSB_scrollTools
  width 12px
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar
  width 12px
  border-radius 0px
.mCSB_scrollTools .mCSB_draggerRail
  border-radius 0px